<ul>
    <li>
        <a href="#" class="menu-button start-new-game">
            {{translations.start_new_game}}{{^translations.start_new_game}}Start New Game{{/translations.start_new_game}}
        </a>
    </li>
    <li>
        <a href="#" class="menu-button load-game">
            {{translations.load_game}}{{^translations.load_game}}Load Game{{/translations.load_game}}
        </a>
    </li>
    <li>
        <a href="#" class="menu-button quit">
            {{translations.quit}}{{^translations.quit}}Quit{{/translations.quit}}
        </a>
    </li>
</ul>
