<link rel="stylesheet" href="../css/style.css"/>
<script type="text/javascript" src="../js/index.js"></script>
<nav id="main-menu"></nav>
<div style="opacity:0">
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/arctic.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/city.png"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/coal.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_e.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_es.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_esw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_ew.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_n.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_ne.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_nes.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_nesw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_new.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_ns.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_nsw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_nw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_s.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_sw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/desert_w.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_e.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_es.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_esw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_ew.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_n.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_ne.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_nes.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_nesw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_new.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_ns.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_nsw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_nw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_s.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_sw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/forest_w.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/grassland.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/grassland_shield.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_e.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_es.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_esw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_ew.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_n.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_ne.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_nes.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_nesw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_new.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_ns.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_nsw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_nw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_s.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_sw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/hills_w.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/horse.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/irrigation.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/jungle.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/mine.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/mountain.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_e.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_es.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_esw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_ew.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_fish.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_n.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_ne.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_nes.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_nesw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_new.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_none.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_ns.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_nsw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_nw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_s.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_sw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/ocean_w.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/plains.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_e.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_esw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_ew.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_n.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_ne.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_nes.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_nesw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_new.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_ns.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_nsw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_nw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_s.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_se.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_sw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/river_w.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/road.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/road_e.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/road_es.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/road_n.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/road_ne.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/road_nw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/road_s.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/road_sw.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/road_w.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/SP257.PIC_256.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/swamp.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/TER257.PIC_256.gif"/>
<img src="/Users/dom111/civ-one/plugins/enabled/base-terrain/assets/tundra.gif"/>

</div>