<section class="city-view">
    <header>
        <button class="close">Close</button>

        <h2>{{name}}</h2>
        <h3>{{size}}</h3>
    </header>
    <section class="summary">
        <div class="food">Food: {{foodStorage}} ({{surplusFood}})</div>
        <div class="shields">Production: {{production}}</div>
        <div class="trade">
            <div class="total">Total trade: {{trade}}</div>
            {{#ratesArray}}
                <div class="{{name}}">{{name}}: {{value}}</div>
            {{/ratesArray}}
        </div>
    </section>
    <section class="improvements">{{!TODO}}</section>
    <section class="units">
        {{#tile.units}}
            <span class="unit">{{title}}</span>
        {{/tile.units}}
    </section>
    <section class="build-queue">
        <header>
            <button class="change">Change</button>
            <button class="buy">Buy</button>
            <div class="current-project">
                <span class="icon"></span>
                <span class="name">{{building.unit}}{{building.improvement}}</span>
            </div>
        </header>
        <section class="progress">{{building.progress}}/{{building.cost}}</section>
    </section>
    <footer></footer>
</section>